
parameters:
    celcat.url: http://celcat.univ-angers.fr/
    celcat.studentPath: web/publi/etu/
    celcat.teacherPath: total/
    celcat.groupIndex: gindex.html
    celcat.personnelIndex: sindex.html