{% extends 'CelcatManagementAppBundle::layout.html.twig' %}
{% block titre %}
    <h1>Accueil</h1>
{% endblock %}
{% block body %}
    <div id="schedule_modification_container" >
        {#<div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </div>#}
    </div>
    <div id="loading">
        <img id="loading-image" src="images/ajax-loader.gif" alt="Loading..." />
    </div>
    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
    {% javascripts  
            '@CelcatManagementAppBundle/Resources/public/js/function-fullcalendar.js'
            '@CelcatManagementAppBundle/Resources/public/js/default-calendar-settings.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript" ></script>
    {% endjavascripts  %}
{% endblock %}