{% extends 'CelcatManagementAppBundle::layout.html.twig' %}
{% block titre %}
    <h1>Accueil</h1>
{% endblock %}
{% block body %}
    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
    <input type="hidden" id="calendar_file_source" value="{{ calendar_file_source }}">
    {% javascripts  
            '@CelcatManagementAppBundle/Resources/public/js/default-calendar-settings.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript" ></script>
    {% endjavascripts  %}
{% endblock %}