{% extends 'CelcatManagementAppBundle::layout.html.twig' %}
{% block titre %}
    <div>
        <h1 class="title-calendar">Accueil</h1>
        <h1 class="btn-save" ><a href="{{ path('celcat_management_app_schedulemodification_create_from_schedule_manager') }}" class="glyphicon glyphicon-floppy-save" ></a></h1>
    </div>
{% endblock %}
{% block body %}
    <div id="schedule_modification_container" >

    </div>
    <div id="loading">
        <img id="loading-image" src="images/ajax-loader.gif" alt="Loading..." />
    </div>
    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
    {% javascripts  
            '@CelcatManagementAppBundle/Resources/public/js/function-fullcalendar.js'
            '@CelcatManagementAppBundle/Resources/public/js/default-calendar-settings.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript" ></script>
    {% endjavascripts  %}
{% endblock %}