.title-calendar {
    width: 75%; 
    display: inline-block;
}

.btn-save {
    width: 20%; 
    float: right; 
    text-align: right; 
    text-decoration: none; 
    margin-right: 3%;
    margin-bottom: 0;
}

.selected_event
{
    border-color: red !important;
    border-width: 2px !important;
}

#schedule_modification_container .alert {
    display: inline-block;
}
#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading > span {
    display: block;
    margin-top: 15%;
}

#loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
}

.clickable {
    border-width: 3px !important;
}
