{% extends 'CelcatManagementAppBundle::layout.html.twig' %}
{% block titre %}
    <h1>Calendrier</h1>
{% endblock %}
{% block body %}
    <div class="col-lg-6">
        <select id="groupe_select" onChange="loadCalendarEvents(this)" class="form-control form-" >
            <option></option>
            {% for group in groupList %}
                <option value="{{ group.xmlfile }}" >{{ group.name }}</option>
                {% endfor %}
        </select>
        <script>
            $('#groupe_select').select2([]);
        </script>
    </div>
    <div style="clear: both; padding: 20px"></div>
    {% javascripts  
            '@CelcatManagementAppBundle/Resources/public/js/function-fullcalendar.js'
            '@CelcatManagementAppBundle/Resources/public/js/index-calendar-settings.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript" ></script>
    {% endjavascripts  %}
    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
{% endblock %}