
{% extends "base.html.twig" %}
{% block body %}
    <h1>Accès refusé</h1>
    <h3>Vous n'avez pas les privileges suffisants pour accéder à cette section.</h3>
    <div style="text-align:center">
    </div>
{% endblock %}