<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>An Error Occurred: {{ status_text }}</title>
  </head>
  <body>
    <h1 style="text-align:center" >Oops! Il y a eu une erreur</h1>
    <h2 style="text-align:center" >"{{ status_code }} {{ status_text }}".</h2>

    <div style="text-align:center">
      <img src="/images/icon_lemonn.png" />
    </div>
  </body>
</html>