{% set btnSmall='' %}
{% if small is defined %} 
	{% set btnSmall='btn-sm' %}
{% endif %}

<a href="{{ href }}" class="ajax-link glyphicon glyphicon-list btn btn-default {{ btnSmall }}" title="Retour à la liste" ></a>